.board{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 800px;
  border: 10px solid #000;
}

.row1, .row2, .row3, .row4,
.row5, .row6, .row7, .row8{
  position: absolute;
  top: 0;
  width: 100px;
}

.row1 div, .row2 div, .row3 div,.row4 div, 
.row5 div, .row6 div, .row7 div, .row8 div{
  height: 100px;
}

.row1{
  left: 0;
}

.row2{
  left: 100px;
}

.row3{
  left: 200px;
}

.row4{
  left: 300px;
}

.row5{
  right: 300px;
}

.row6{
  right: 200px;
}

.row7{
  right: 100px;
}

.row8{
  right: 0;
}

.row1>div:nth-child(even),
.row3>div:nth-child(even),
.row5>div:nth-child(even),
.row7>div:nth-child(even){
  background-color: #000;
}

.row2>div:nth-child(odd),
.row4>div:nth-child(odd),
.row6>div:nth-child(odd),
.row8>div:nth-child(odd){
  background-color: #000;
}
